@{
    ViewBag.Title = "Acerca de Programación Orientada a Objetos";
}

<center>
    <u>
        <h1>Pilares de la Programación Orientada a Objetos</h1>
    </u>
</center>
<br />
<ul>
    <li>
        Estos pilares son:
    </li>
    <ol>
        <li>Abstracción</li>
        <li>Encapsulamiento</li>
        <li>Herencia</li>
        <li>Polimorfismo</li>
    </ol>
</ul><label>Conceptos:</label>
<li>
    <b>Abstracción:</b> Consiste en aislar un elemento de su contexto o del resto de los elementos que lo acompañan.
</li>
<li>
    <b>Encapsulamiento:</b> El encapsulamiento nos permite controlar quien puede ver y utilizar los distintos módulos internos de nuestro sistema. En términos de clases, con el encapsulamiento definimos el acceso a los miembros de la clase.
</li>
<li>
    <b>Herencia:</b> Se trata de uno de los pilares fundamentales de la programación orientada a objetos. Es el mecanismo por el cual una clase permite heredar las características (atributos y métodos) de otra clase.
</li>
<li>
    <b>Polimorfismo:</b> Se refiere a la propiedad por la que es posible enviar mensajes sintácticamente iguales a objetos de tipos distintos. El único requisito que deben cumplir los objetos que se utilizan de manera polimórfica es saber responder al mensaje que se les envía.
</li>
