@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <center>
        <h1>Proyecto con ASP.NET Con MVC</h1><br/>
    </center>
    <center>
        <p>Proyecto con ASP.NET con MVC <b>Programación II: <i>Wagner Suarez</i></b></p>
    </center>
    <img class="img-center" src="~/Images/logo ITLA.png" />
</div>

<div class="row">
    <center>
        <img class="img-center" src="~/Images/itla.png" />
    </center>
  </div>