@{
    ViewBag.Title = "Aprendizaje de ASP.NET";
}
<center>
    <h1>
        <u>Aprendizaje de ASP.NET</u>
    </h1>
</center>
<br />
<br />
<br />
<label>
    <b>
        ¿Que es ASP.NET?
    </b>
</label>
<pre>
ASP.NET es un entorno para aplicaciones web desarrollado y comercializado
por Microsoft. Es usado por programadores y diseñadores para construir 
sitios web dinámicos, aplicaciones web y servicios web XML. 
</pre>
<pre><b><i>Modelo Vista Controlador (MVC):</i></b>
Es una propuesta de arquitectura del software utilizada para separar el código por sus distintas responsabilidades,
manteniendo distintas capas que se encargan de hacer una tarea muy concreta, lo que ofrece beneficios diversos.

<b>Contiene tres componentes:</b>
<li>Modelo</li>
<li>Vista</li>
<li>Controlador</li>
<p class="text-justify">
En el controlador tenemos el Home, la primera vista para el usuario.
Las vistas nacen desde los metodos ActionResult del controlador en la vista del Shared, tenemos el Layout, que no es mas que la plantilla
que se estará visualizando en las demás vistas. La carpeta de APP_Start me permite dentro de su opción RouteConfig.cs
poder cambiar la ruta de inicio del aplicativo web. La carpeta Shared colocamos los recursos o vistas que necesitamos compartir
en todas las vistas que tiene nuestro proyecto.
</p>
</pre>
<address>
    <strong>Correo ITLA:</strong>   <a href="mailto:202010952@itla.edu.do">202010952@itla.edu.do</a><br />
    <strong>Correo Personal:</strong> <a href="mailto:wagner2164@gmail.com">wagner2164@gmail.com</a>
</address>